# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
bower_components/

# testing
test-results/
test-report.xml
coverage/

# production
build
etc

# misc
.DS_Store
.env
npm-debug.log
npm-debug.log.*

# CSS are built from SASS
.css

### JetBrains
# User-specific stuff:
.idea/
*.iws
.idea_modules/
atlassian-ide-plugin.xml


### macOS
*.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

yarn-error.log
lerna-debug.log

.tmp/
dist/
